name: Bug report to Discord

on:
  issues:
    types: [opened]

permissions:
  contents: read

jobs:
  notify:
    runs-on: ubuntu-latest

    if: contains(join(github.event.issue.labels.*.name, ','), 'bug-report')

    steps:
      - name: Send to Discord
        env:
          DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK_URL }}
          ISSUE_NUMBER: ${{ github.event.issue.number }}
          ISSUE_TITLE: ${{ github.event.issue.title }}
          ISSUE_URL: ${{ github.event.issue.html_url }}
          ISSUE_AUTHOR: ${{ github.event.issue.user.login }}
          ISSUE_CREATED_AT: ${{ github.event.issue.created_at }}
        run: |
          JSON_PAYLOAD=$(cat <<JSON
          {
            "thread_name": "[#${ISSUE_NUMBER}] ${ISSUE_TITLE}",
            "embeds": [{
              "title": "${ISSUE_TITLE}",
              "url": "${ISSUE_URL}",
              "fields": [
                {"name": "Actor", "value": "${ISSUE_AUTHOR}", "inline": true},
              ],
              "timestamp": "${ISSUE_CREATED_AT}"
            }]
          }
          JSON
          )

          curl -sS -X POST -H "Content-Type: application/json" --data-binary "$JSON_PAYLOAD" "$DISCORD_WEBHOOK_URL" || true
